__pycache__/
*.py[cod]
*$py.class
.Python
build/
dist/
*.egg-info/
.installed.cfg
*.egg

htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
cover/

.env
.envrc
.venv
env/
venv/

.mypy_cache/
.ruff_cache/
.pypirc

.cursorignore
.cursorindexingignore
